version: "3.9"

services:
  redis:
    image: "redis:7-alpine"
    container_name: "streamscale-redis"
    ports:
      - "6379:6379"  
    volumes:
      - redis-data:/data
    restart: always

volumes:
  redis-data: